header#header(role="banner")
  .header-area
    .btn-menu MENU
    h1.logo ヘッダー

  nav.navi
    ul
      li
        a(href='') メニュー1
      li
        a(href='') メニュー2
      li
        a(href='') メニュー3
      li
        a(href='') メニュー4
