@charset "UTF-8";

body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 320px;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  color: #262626;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  -webkit-font-feature-settings:'palt' 1;
  font-feature-settings:'palt' 1;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  color: #262626;
  text-decoration: none;
  backface-visibility: hidden;
  display: inline-block;
  &:hover{
    color: #262626;
  }
}

h2{
  font-size: 24px;
  margin-bottom: 10px;
}

#main{
  padding-top: 55px;
  width: 900px;
  margin: auto;
  .block{
    margin-bottom: 40px;
  }
}

#sample-1{
  display: block;
  a{
    display: block;
    width: 200px;
    height: 100%;
    .icon-camara{
      transform: rotate(0deg);
      .svg-1{
        fill:#07c;
        transition: all 1s ease;
        zoom: 1;
      }
    }
    &:hover{
      transform: rotate(0deg);
      .icon-camara .svg-1{
        fill: red;
      }
    }
  }
}

#sample-2{
  width: 200px;
  display: block;
  a{
    display: block;
    height: 100%;
    transition: all 1s ease;
    .icon-camara{
      .svg-2{
        fill:#07c;
        transition: all 1s ease;
      }
    }
    &:hover{
      animation: scaleSize .5s ease-out forwards;
    }
  }
}
@keyframes scaleSize {
  0% {transform: translateY(0);}
  50% {transform: translateY(20px);}
  10% {transform: translateY(0px);}
}

#sample-3{
  width: 200px;
  display: block;
  a{
    display: block;
    height: 100%;
    transition: all 1s ease;
    .icon-camara{
      .svg-3{
        fill:#07c;
        stroke:#07c;
        stroke-dasharray: 2000;
        stroke-dashoffset: 0;
        animation: write 4s ease-in 0s;
      }
    }
  }
}
@-webkit-keyframes write {
  0% {
    stroke-dashoffset: 2000;
    fill:transparent;
  }
  40% {
    stroke-dashoffset: 2000;
    fill:transparent;
  }
  50% {
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill:#0060e6;
  }
}


.photo1{
  filter: url(#blur);
}

.photo2{
  filter: url(#rotate);
}

.photo3{
  filter: url(#sepia);
}

#sample-5{
  .mask-sample{
    width: 100%;
    height: 418px;
    overflow: hidden;
    position: relative;
    background: #eee;
  }
  .mask {
    clip-path: url(#svgPath);
  }
}

#sample-6{
  .mask-sample{
    width: 100%;
    height: 418px;
    overflow: hidden;
    position: relative;
    background: #eee;
  }
  .shape{
    width: 100%;
    height: 418px;
  }
  .mask {
    clip-path: url(#svgTextPath);
  }
}

