@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: top; }

a {
  cursor: pointer;
  text-decoration: none; }

body {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  width: 100%;
  height: 100%;
  min-width: 320px;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  color: #262626;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-feature-settings: 'palt' 1; }

img {
  width: 100%;
  vertical-align: bottom; }

a {
  color: #262626;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: inline-block; }
  a:hover {
    color: #262626; }

h2 {
  font-size: 24px;
  margin-bottom: 10px; }

#main {
  padding-top: 55px;
  width: 900px;
  margin: auto; }
  #main .block {
    margin-bottom: 40px; }

#sample-1 {
  display: block; }
  #sample-1 a {
    display: block;
    width: 200px;
    height: 100%; }
    #sample-1 a .icon-camara {
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg); }
      #sample-1 a .icon-camara .svg-1 {
        fill: #07c;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        zoom: 1; }
    #sample-1 a:hover {
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg); }
      #sample-1 a:hover .icon-camara .svg-1 {
        fill: red; }

#sample-2 {
  width: 200px;
  display: block; }
  #sample-2 a {
    display: block;
    height: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    #sample-2 a .icon-camara .svg-2 {
      fill: #07c;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
    #sample-2 a:hover {
      -webkit-animation: scaleSize .5s ease-out forwards;
              animation: scaleSize .5s ease-out forwards; }

@-webkit-keyframes scaleSize {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes scaleSize {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

#sample-3 {
  width: 200px;
  display: block; }
  #sample-3 a {
    display: block;
    height: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    #sample-3 a .icon-camara .svg-3 {
      fill: #07c;
      stroke: #07c;
      stroke-dasharray: 2000;
      stroke-dashoffset: 0;
      -webkit-animation: write 4s ease-in 0s;
              animation: write 4s ease-in 0s; }

@-webkit-keyframes write {
  0% {
    stroke-dashoffset: 2000;
    fill: transparent; }
  40% {
    stroke-dashoffset: 2000;
    fill: transparent; }
  50% {
    fill: transparent; }
  100% {
    stroke-dashoffset: 0;
    fill: #0060e6; } }

.photo1 {
  filter: url(#blur); }

.photo2 {
  filter: url(#rotate); }

.photo3 {
  filter: url(#sepia); }

#sample-5 .mask-sample {
  width: 100%;
  height: 418px;
  overflow: hidden;
  position: relative;
  background: #eee; }

#sample-5 .mask {
  -webkit-clip-path: url(#svgPath);
          clip-path: url(#svgPath); }

#sample-6 .mask-sample {
  width: 100%;
  height: 418px;
  overflow: hidden;
  position: relative;
  background: #eee; }

#sample-6 .shape {
  width: 100%;
  height: 418px; }

#sample-6 .mask {
  -webkit-clip-path: url(#svgTextPath);
          clip-path: url(#svgTextPath); }
